<?xml version="1.0" encoding="utf-8"?>
<Content Key="b38e5cea-55fa-444d-947c-cc0634166fb0" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-11-30T21:37:42</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ce4e090a-e640-41af-b5d4-0545215f075a">Home</Template>
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/b38e5cea55fa444d947ccc0634166fb0",
    "settings": "{\"contentTypeKey\":\"98e4a2ad-7704-405d-9402-c29114b8fa8e\",\"udi\":\"umb://element/db83220b4d904d249f0576a8fda90fc3\",\"icon\":[{\"key\":\"977b9c0d-0fe9-468a-965b-3fe64cc2954d\",\"mediaKey\":\"65d2c512-7caf-4615-9979-8d6339ae2215\",\"crops\":[],\"focalPoint\":{\"left\":0.5,\"top\":0.5}}]}"
  },
  {
    "name": "Umbraco",
    "url": "www.umbraco.com",
    "settings": "{\"contentTypeKey\":\"98e4a2ad-7704-405d-9402-c29114b8fa8e\",\"udi\":\"umb://element/94884ad8789843ee9cb335bc4b1d75ee\",\"icon\":[{\"key\":\"250d9a24-90c0-4a92-bc8c-37f5c2e06431\",\"mediaKey\":\"d5169295-8021-4dc8-ae40-d6e638c86b33\",\"crops\":[],\"focalPoint\":{\"left\":0.5,\"top\":0.5}}]}"
  }
]]]></Value>
    </links>
  </Properties>
</Content>