<?xml version="1.0" encoding="utf-8"?>
<DataType Key="874f93a3-d606-433c-b647-2689027b65d6" Alias="MultiUrlPickerWithSettings" Level="1">
  <Info>
    <Name>MultiUrlPickerWithSettings</Name>
    <EditorAlias>MultiUrlPickerWithSettings</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Block": [
    {
      "contentElementTypeKey": "98e4a2ad-7704-405d-9402-c29114b8fa8e",
      "settingsElementTypeKey": null
    }
  ],
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>