<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5169295-8021-4dc8-ae40-d6e638c86b33" Alias="Download (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-30T21:37:54</CreateDate>
    <NodeName Default="Download (3)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sojbnvjb/download-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>